
.container2 {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 7rem;
}

.footer {
  background: #351C15;
  color: #e5e5e5;
}

.footer-1 {
  text-align: center;
  padding: 4rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-1 h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.footer-1 p {
  color: #cfcfcf;
  margin-bottom: 1.5rem;
}

.btn-1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  cursor: pointer;
}

.btn.primary {
  background: #fff;
  color: #2b1a12;
  border: none;
}

.btn.outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}


.footer-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.footer-col h4 {
  color: #f59e0b;
  margin-bottom: 1rem;
}

.footer-col a {
  display: block;
  color: #e5e5e5;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.footer-col a:hover {
  color: #f59e0b;
}

.logo span {
  color: #f59e0b;
}

.socials i {
  margin-right: 0.6rem;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
}

.legal a {
  margin-left: 1rem;
  color: #cfcfcf;
  text-decoration: none;
}

.legal a:hover {
  color: #f59e0b;
}
